#content {
    width: 100%;
    min-width: 667px;
    height: 680px;
    /*background-image: url(airport.jpg);
    background-repeat: no-repeat;*/
    background-color: #909089;
    background-position: center;
    background-size: cover;
    border: 3px solid #3e28b7;
}

#logo {
    position: relative;
    width: 60%;
    margin: -35px auto 10px auto;
    padding-top: 20px;
    text-align: center;
    font-family: "Poiret One", cursive;
    font-size: 28px;
    font-weight: 900;
}

.testItemBox {
    position: relative;
    width: 610px;
    margin: 20px auto 10px auto;
    overflow: hidden;
    height: 460px;
    background-color: #fff;
    border-radius: 10px;
    border: 5px solid #3e28b7;
}